#title{
    width: 100%;
    height: 45px;
    background-color:  white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#title-left{
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#title-center{
     height: 45px;
     width: 100px;
     flex: 1;
 }
#title-right{
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*weather start*/
#weather{
    width: 30px;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4px;

}
#img{
    width: 20px;
    height: 20px;
    background-image: url(../img/太阳.svg);
    background-size: cover;
    background-position: center;
}
#num{
    width: 20px;
    height: 20px;
    font-size: 5px;
    font-weight: 400;
}
/*weather end*/
/*area start*/
#area{
    width: 50px;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}
#area-name{
    width: 30px;
    height: 25px;
    /*color: #8a8a8a;*/
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #212121;
    opacity: 0.8;
}
#area-choose{
    width: 10px;
    height: 10px;
    background-image: url(../img/箭头.svg);
    background-size: cover;
    background-position: center;
}
/* area end*/
/*search start*/
#search{
    width: 280px;
    height: 30px;
    background-image: url(../img/搜索框.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#search-left{
    width: 25px;
    height: 25px;
    background-image: url(../img/放大镜.svg);
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.text{
    background: none;
    border: none;
    margin-left: 10px;
    outline: none;
}
/*search end*/
/*add start*/
#add{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-image: url(../img/加号.svg);
    background-size: cover;
    background-position: center;
}
/*add end*/
#title-menu{
    position: absolute;
    right: 2%;
    top: 12%;
    height: 30%;
    width: 32%;
    display: none;
    background: #4d4848;
    /*display: flex;*/
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.title-menu-n{
    height: 25%;
    width: 100%;
    color: white;
    /*margin-right: 2%;*/
    margin-top: 2%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.title-menu-img{
    height: 20px;
    width: 20px;
    margin-right: 4%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}